<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSRF Token -->
<link rel="icon" type="image/x-icon" href="favicon.ico">

<title>Top Climate Heroes</title>
<meta name="title" content="Top Climate Heroes - Climate Twitter accounts worth following">
<meta name="description" content="A curated list of Twitter accounts worth following, writing about the Climate change Emergency, scientific evidence, actions and lot more.">
<meta name="keywords" content="climate emergency,climate heroes,climate">
<meta name="Distribution" content="global"/>
<meta name="Robots" content="all"/>

 <!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@jp_aulet">
<meta name="twitter:title" content="Top Climate Heroes - Climate Twitter accounts worth following">
<meta name="twitter:description" content="A curated list of Twitter accounts worth following, writing about the Climate change Emergency, scientific evidence, actions and lot more.">
<meta name="twitter:creator" content="@jp_aulet">
<meta name="twitter:image:src" content="">

<!-- Open Graph data -->
<meta property="og:title" content="Top Climate Heroes - Climate Twitter accounts worth following" />
<meta property="og:type" content="product" />
<meta property="og:url" content="" />
<meta property="og:image" content="" />
<meta property="og:description" content="A curated list of Twitter accounts worth following, writing about the Climate change Emergency, scientific evidence, actions and lot more." />
<meta name="theme-color" content="#1f620b"/>
<link rel="stylesheet" href='./resources/css/styles.css' />
<body>
	<div id='app'>

		<h1 class='title-header'>
			<img src='./resources/img/logo.png' alt='Top climate heroes logo'>
			Top Climate Heroes
		</h1>

		<div class='subtitle-header'>
			A curated list of <strong>Twitter accounts worth following</strong>, writing about the Climate <strike>change</strike> Emergency, scientific evidence, actions and lot more.
		</div>

		<div class='header-img'></div>

		<div class='filterList'>
	        <div class='filterTags'> 
	          <label class='user-label' v-for='(tag,index) in tags' :key="`tag-${index}`"  v-bind:class="isSelected(tag)" @click='selectTag(tag)'>
				{{tag}}
	          </label>
	        </div> 
	        
	        <div class='searchBox col-xs-8 col-sm-5 col-sm-offset-2 col-lg-offset-5'>
	          <input class='searchInput searchUsers' type="text" placeholder="Search.." v-model="search" />
	        </div>	        
	    </div>

		<div class='twitter-deck'>
			<div v-for='(user, index) in filteredItems' :key="`user-${index}`" class="twitter-card">  
			    <img class="tweet-img" v-bind:src="user.img" :alt="'User '+user.username+' avatar'">			    
			  
			    <div class="tweet-meta">
			      <p class="tweet-name">{{user.name}}</p>
			      <p class="tweet-username">{{user.username}}</p>
			    </div>  
			  
			  	<p class="tweet-message">{{user.message}}</p>
			  	<p class="tweet-follow">
					<a :href="'https://twitter.com/'+user.username+'?ref_src=twsrc%5Etfw'" class="twitter-follow-button" data-show-count="false"></a>
			  	</p>			  	  
			</div>
		</div>

		<div class='horitzontal-container'>
			Missing somebody? Tell us and we will add them on the list! <br />

			<a href=''>
				<button class="btnMore"> Add <i>Heroes</i> to the list</button>
			</a>
		</div>

		<div class='impactMakers-container'>
			<h2 class='dark-green'> <a href="https://techimpactmakers.com" target="_blank" class='dark-green'>ImpactMakers</a> Community </h2>
			<p> <a class='black-link' href='https://twitter.com/_impactMakers' target='_blank'>Follow us</a> on Twitter too! Here a list of tech people who want to have a positive impact by helping prevent earth’s climate breaking down.</p>

			<div class='twitter-deck'>
				<div v-for='(impactmaker, index) in impactMakers' :key="`impactMakers-${index}`" class="twitter-card">  
				    <img class="tweet-img" v-bind:src="impactmaker.img" :alt="'User '+impactmaker.username+' avatar'">			    
				  
				    <div class="tweet-meta">
				      <p class="tweet-name">{{impactmaker.name}}</p>
				      <p class="tweet-username">{{impactmaker.username}}</p>
				    </div>  
				  
				  	<p class="tweet-message">{{impactmaker.message}}</p>
				  	<p class="tweet-follow">
						<a :href="'https://twitter.com/'+impactmaker.username+'?ref_src=twsrc%5Etfw'" class="twitter-follow-button" data-show-count="false"></a>
				  	</p>			  	  
				</div>
			</div>
		</div>
	</div>	

	<div id='footer'>
		<div class='footer-header'>
			<h1 class='footer-title'>
				<img src='resources/img/logo_white.png' alt='Top Twitter Heroes white'>
				Twitter Climate Heroes
			</h1>
			<p class='footer-subtitle'> People worth following </p>
		</div>

		<div class='footer-container'>
			An <strong>Impact Makers</strong> project from:
			
			<div class="twitter-card twitter-impactMakers">  
			    <img class="tweet-img" src="https://pbs.twimg.com/profile_images/1055439106141028352/mwoOAzKd_bigger.jpg" alt='J.P.Aulet avatar'>			    
			  
			    <div class="tweet-meta">
			      <p class="tweet-name">J.P. Aulet</p>
			      <p class="tweet-username"><a href='https://twitter.com/jp_aulet' target='_blank' class='white-link'>@jp_aulet</a></p>
			    </div>	  	  
			</div>			    

			<a href='http://techimpactmakers.com' class='white-link'>Impact Makers</a> is a community of tech people who want to have a positive impact by helping prevent earth’s climate breaking down.

			<a href="https://techimpactmakers.com" target="_blank">
			  <button class="btnMore" style='width:100%;'> Find out more about us </button>
			</a>
		</div>
	</div>
</body>

<script src="./vendor/vue.js"></script>
<script async src="./vendor/widgets.js" charset="utf-8"></script>
<script type="module" >
	var app = new Vue({
	  el: '#app',
	  data() {
	    return {
	      users: null,
	      impactMakers: null,
	      search: '',
	      tags: ['writer','scientist','actor','journalist','ngo','activist','business','politician'],
	      selectedTags: [],
	      loading: true
	    };
	  },
	  methods: {
	    getUsers() {
	      	this.users = [
			  {
			    "name": "Naomi Klein",
			    "username": "@NaomiAKlein",
			    "message": "Journalist, columnist and author of This Changes Everything,The Shock Doctrine and No Logo.",
			    "url": "https://twitter.com/NaomiAKlein",
			    "label": "journalist",
			    "img": "https://avatars.io/twitter/NaomiAKlein"
			  },
			  {
			    "name": "Justin Gillis",
			    "username": "@JustinHGillis",
			    "message": "Former lead writer on climate science for The New York Times, now writing a book on the energy transition.",
			    "url": "https://twitter.com/JustinHGillis",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/JustinHGillis"
			  },
			  {
			    "name": "Sasja Beslik",
			    "username": "@sasjabeslik",
			    "message": "Head of Group Sustainable Finance at Nordea. Also featured on this list of business thinker on Twitter.",
			    "url": "https://twitter.com/sasjabeslik",
			    "label": "business",
			    "img": "https://avatars.io/twitter/sasjabeslik"
			  },
			  {
			    "name": "Achim Steiner",
			    "username": "@ASteiner",
			    "message": "Administrator at United Nations Development Programme. Former Director at Oxford Martin School, Oxford University. UN Under Secretary-General at UNEP.",
			    "url": "https://twitter.com/ASteiner",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/ASteiner"
			  },
			  {
			    "name": "Patricia Espinosa C",
			    "username": "@PEspinosaC",
			    "message": "Executive Secretary of UN Climate Change.",
			    "url": "https://twitter.com/PEspinosaC",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/PEspinosaC"
			  },
			  {
			    "name": "Mike Hudema",
			    "username": "@MikeHudema",
			    "message": "Greenpeace Canada Climate and Energy Campaigner focusing on tarsands,green jobs&solar.",
			    "url": "https://twitter.com/MikeHudema",
			    "label": "ngo",
			    "img": "https://avatars.io/twitter/MikeHudema"
			  },
			  {
			    "name": "Paul Polman",
			    "username": "@PaulPolman",
			    "message": "CEO of Unilever.",
			    "url": "https://twitter.com/PaulPolman",
			    "label": "business",
			    "img": "https://avatars.io/twitter/PaulPolman"
			  },
			  {
			    "name": "Anne Hidalgo",
			    "username": "@Anne_Hidalgo",
			    "message": "Mayor of Paris and president of C40 Cities.",
			    "url": "https://twitter.com/Anne_Hidalgo",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/Anne_Hidalgo"
			  },
			  {
			    "name": "Leonardo DiCaprio",
			    "username": "@LeoDiCaprio",
			    "message": "Actor and environmentalist.",
			    "url": "https://twitter.com/LeoDiCaprio",
			    "label": "actor",
			    "img": "https://avatars.io/twitter/LeoDiCaprio"
			  },
			  {
			    "name": "Mike Bloomberg",
			    "username": "@MikeBloomberg",
			    "message": "Entrepreneur, philanthropist, and three-term mayor of New York City.",
			    "url": "https://twitter.com/MikeBloomberg",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/MikeBloomberg"
			  },
			  {
			    "name": "Assaad Razzouk",
			    "username": "@AssaadRazzouk",
			    "message": "CEO at Sindicatum and contributor at Huffington Post.",
			    "url": "https://twitter.com/AssaadRazzouk",
			    "label": "business",
			    "img": "https://avatars.io/twitter/AssaadRazzouk"
			  },
			  {
			    "name": "Svein T veitdal",
			    "username": "@tveitdal",
			    "message": "Climate lecturer and Director of Klima 2020. Former UN Director.",
			    "url": "https://twitter.com/tveitdal",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/tveitdal"
			  },
			  {
			    "name": "Jim Harris",
			    "username": "@JimHarris",
			    "message": "Canadian author, environmentalist, and politician.",
			    "url": "https://twitter.com/JimHarris",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/JimHarris"
			  },
			  {
			    "name": "Damian Carrington",
			    "username": "@dpcarrington",
			    "message": "Environment Editor at the Guardian",
			    "url": "https://twitter.com/dpcarrington",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/dpcarrington"
			  },
			  {
			    "name": "Brad Plumer",
			    "username": "@bradplumer",
			    "message": "Climate reporter at New York Times. Former vox.com climate reporter.",
			    "url": "https://twitter.com/bradplumer",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/bradplumer"
			  },
			  {
			    "name": "Kees van der Leun",
			    "username": "@Sustainable2050",
			    "message": "Director at Navigant Energy.",
			    "url": "https://twitter.com/Sustainable2050",
			    "label": "ngo",
			    "img": "https://avatars.io/twitter/Sustainable2050"
			  },
			  {
			    "name": "Mark Ruffalo",
			    "username": "@MarkRuffalo",
			    "message": "Actor, filmmaker, and social activist.",
			    "url": "https://twitter.com/MarkRuffalo",
			    "label": "actor",
			    "img": "https://avatars.io/twitter/MarkRuffalo"
			  },
			  {
			    "name": "Erik Solheim",
			    "username": "@ErikSolheim",
			    "message": "Head of UN Environment.",
			    "url": "https://twitter.com/ErikSolheim",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/ErikSolheim"
			  },
			  {
			    "name": "Arnold Schwarzenegger",
			    "username": "@Schwarzenegger",
			    "message": "Actor, producer, businessman, investor, author, philanthropist, activist, former professional bodybuilder and former Governor of California.",
			    "url": "https://twitter.com/Schwarzenegger",
			    "label": "actor",
			    "img": "https://avatars.io/twitter/Schwarzenegger"
			  },
			  {
			    "name": "Nick Nuttall",
			    "username": "@Nick_Nuttall",
			    "message": "Director/Spokesperson Communications and Outreach UN Climate Change.",
			    "url": "https://twitter.com/Nick_Nuttall",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/Nick_Nuttall"
			  },
			  {
			    "name": "Alexander Verbeek",
			    "username": "@Alex_Verbeek",
			    "message": "Founder of Institute for Planetary Security.Strategic Policy Advisor on Global Issues.",
			    "url": "https://twitter.com/Alex_Verbeek",
			    "label": "",
			    "img": "https://avatars.io/twitter/Alex_Verbeek"
			  },
			  {
			    "name": "Richard McLellan",
			    "username": "@RichardMcLellan",
			    "message": "CEO of NACC. Tweets about ecology, biodiversity, conservation, and sustainable agriculture.",
			    "url": "https://twitter.com/RichardMcLellan",
			    "label": "business",
			    "img": "https://avatars.io/twitter/RichardMcLellan"
			  },
			  {
			    "name": "Eric Holthaus",
			    "username": "@EricHolthaus",
			    "message": "Meteorologist andstaff writer at Grist.org.",
			    "url": "https://twitter.com/EricHolthaus",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/EricHolthaus"
			  },
			  {
			    "name": "Michael E. Mann",
			    "username": "@MichaelEMann",
			    "message": "Climate Scientist, Professor & Director of the Penn State ESSC. Author of Dire Predictions, The Hockey Stick & the Climate Wars, and The Madhouse Effect.",
			    "url": "https://twitter.com/MichaelEMann",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/MichaelEMann"
			  },
			  {
			    "name": "Bernie Sanders",
			    "username": "@SenSanders",
			    "message": "Sen. Bernie Sanders is the longest serving independent in congressional history.",
			    "url": "https://twitter.com/SenSanders",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/SenSanders"
			  },
			  {
			    "name": "Heidi Cullen",
			    "username": "@HeidiCullen",
			    "message": "Climate scientist at ClimateCentral.org.Chief Science Advisor for the YEARS of LIVING project.Author of The Weather of the Future.",
			    "url": "https://twitter.com/HeidiCullen",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/HeidiCullen"
			  },
			  {
			    "name": "Christiana Figueres",
			    "username": "@CFigueres",
			    "message": "Former Executive Secretary of UN Climate Change.",
			    "url": "https://twitter.com/CFigueres",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/CFigueres"
			  },
			  {
			    "name": "Al Gore",
			    "username": "@algore",
			    "message": "Politician and environmentalist.Served as the 45th Vice President of the United States from 1993 to 2001.",
			    "url": "https://twitter.com/algore",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/algore"
			  },
			  {
			    "name": "Catherine McKenna",
			    "username": "@cathmckenna",
			    "message": "Canada’s Minister of Environment & Climate Change.",
			    "url": "https://twitter.com/cathmckenna",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/cathmckenna"
			  },
			  {
			    "name": "Andrea Learned",
			    "username": "@AndreaLearned",
			    "message": "Communications strategist specialising in influencer relations for climate action/impact nonprofits.",
			    "url": "https://twitter.com/AndreaLearned",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/AndreaLearned"
			  },
			  {
			    "name": "George Monbiot",
			    "username": "@GeorgeMonbiot",
			    "message": "British writer, activist, climate columnist for Guardian.",
			    "url": "https://twitter.com/GeorgeMonbiot",
			    "label": "",
			    "img": "https://avatars.io/twitter/GeorgeMonbiot"
			  },
			  {
			    "name": "Leo Hickman",
			    "username": "@LeoHickman",
			    "message": "Director/editor of Carbon Brief. Served 16 years at the Guardian. Author of A Life Stripped Bare, The Final Call, Will Jellyfish Rule the World?",
			    "url": "https://twitter.com/LeoHickman",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/LeoHickman"
			  },
			  {
			    "name": "Caroline Lucas",
			    "username": "@CarolineLucas",
			    "message": "MP for Brighton Pavilion, co-leader of the Green Party in UK.",
			    "url": "https://twitter.com/CarolineLucas",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/CarolineLucas"
			  },
			  {
			    "name": "Arik Ring",
			    "username": "@arikring",
			    "message": "Expert consultant on solar and other clean-tech technologies, power plants and power systems.",
			    "url": "https://twitter.com/arikring",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/arikring"
			  },
			  {
			    "name": "Annie Leonard",
			    "username": "@AnnieMLeonard",
			    "message": "Executive Director of Greenpeace USA. Creator of the StoryOfStuffvideo, book & community.",
			    "url": "https://twitter.com/AnnieMLeonard",
			    "label": "",
			    "img": "https://avatars.io/twitter/AnnieMLeonard"
			  },
			  {
			    "name": "John Upton",
			    "username": "@johnupton",
			    "message": "Journalist at ClimateCentral.org.",
			    "url": "https://twitter.com/johnupton",
			    "label": "ngo",
			    "img": "https://avatars.io/twitter/johnupton"
			  },
			  {
			    "name": "Bill McKibben",
			    "username": "@billmckibben",
			    "message": "Author, educator, environmentalist and founder of 350.org.",
			    "url": "https://twitter.com/billmckibben",
			    "label": "journalist",
			    "img": "https://avatars.io/twitter/billmckibben"
			  },
			  {
			    "name": "Katharine Hayhoe",
			    "username": "@KHayhoe",
			    "message": "Canadian climate scientist. Professor at Texas Tech University. Founder and CEO ofATMOS Research.",
			    "url": "https://twitter.com/KHayhoe",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/KHayhoe"
			  },
			  {
			    "name": "Elizabeth May",
			    "username": "@ElizabethMay",
			    "message": "The leader of the Green Party of Canada. Author and politician.",
			    "url": "https://twitter.com/ElizabethMay",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/ElizabethMay"
			  },
			  {
			    "name": "Jason Box",
			    "username": "@climate_ice",
			    "message": "Climatologist, glaciologist contemplating Greenland ice, Arctic and global climate issues.",
			    "url": "https://twitter.com/climate_ice",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/climate_ice"
			  },
			  {
			    "name": "Ray Wills",
			    "username": "@ProfRayWills",
			    "message": "Researcher and adviser based in Perth, Australia.",
			    "url": "https://twitter.com/ProfRayWills",
			    "label": "",
			    "img": "https://avatars.io/twitter/ProfRayWills"
			  },
			  {
			    "name": "Terry Hughes",
			    "username": "@ProfTerryHughes",
			    "message": "Director of ARC Centre of excellence CoralCoE.",
			    "url": "https://twitter.com/ProfTerryHughes",
			    "label": "",
			    "img": "https://avatars.io/twitter/ProfTerryHughes"
			  },
			  {
			    "name": "Adam Rogers",
			    "username": "@AdamRogers2030",
			    "message": "Author, UNDP and SDGs.",
			    "url": "https://twitter.com/AdamRogers2030",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/AdamRogers2030"
			  },
			  {
			    "name": "Johan Rockström",
			    "username": "@jrockstrom",
			    "message": "Executive director at Stockholm Resilience Centre.",
			    "url": "https://twitter.com/jrockstrom",
			    "label": "",
			    "img": "https://avatars.io/twitter/jrockstrom"
			  },
			  {
			    "name": "Mark Z. Jacobson",
			    "username": "@mzjacobson",
			    "message": "Professor at Stanford University and leading scholar on renewable energy.",
			    "url": "https://twitter.com/mzjacobson",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/mzjacobson"
			  },
			  {
			    "name": "Elizabeth May",
			    "username": "@ElizabethMay",
			    "message": "The leader of the Green Party of Canada. Author, politician, longtime activist and early advocate for the planet.",
			    "url": "https://twitter.com/ElizabethMay",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/ElizabethMay"
			  },
			  {
			    "name": "Michael E. Mann",
			    "username": "@MichaelEMann",
			    "message": "Climate Scientist, Professor and Director of the Penn State ESSC; Author of Dire Predictions, The Hockey Stick & the Climate Wars, and The Madhouse Effect.",
			    "url": "https://twitter.com/MichaelEMann",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/MichaelEMann"
			  },
			  {
			    "name": "Dr. Ayana E. Johnson",
			    "username": "@ayanaeliza",
			    "message": "Marine biologist, founder/CEO @OceanCollectiv, Brooklyn native. Madly in love with our planet and solutions for the climate crisis.",
			    "url": "https://twitter.com/ayanaeliza",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/ayanaeliza"
			  },
			  {
			    "name": "Marshall Shepherd",
			    "username": "@DrShepherd2013",
			    "message": "Atmospheric Sciences Professor, Fmr AMS Prez/NASA scientist, Host, Weather Geeks, Alpha, 3x FSU Alum, Forbes Contributor, Tweets just mine. RT not endorsement",
			    "url": "https://twitter.com/DrShepherd2013",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/DrShepherd2013"
			  },
			  {
			    "name": "Katharine Hayhoe",
			    "username": "@KHayhoe",
			    "message": "Not suspicious, just Canadian. Climate scientist, @TTUCSC director, poli sci prof, knitter, pastor's wife, mom. TIME100 + Fortune50. First in line for cloning.",
			    "url": "https://twitter.com/KHayhoe",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/KHayhoe"
			  },
			  {
			    "name": "Esther Ngumbi",
			    "username": "@EstherNgumbi",
			    "message": "University of Illinois @Urbana-Champaign, PhD Entomology, Activist, AAUWAlumna, FoodSecurity, OYESKAGREENS http://www.estherngumbi.com/http://www.fauluacademy.org/",
			    "url": "https://twitter.com/EstherNgumbi",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/EstherNgumbi"
			  },
			  {
			    "name": "Ed Hawkins",
			    "username": "@ed_hawkins",
			    "message": "Climate scientist at University of Reading | Creator of climate spirals & warming stripes | IPCC AR6 Lead Author | Leads http://weatherrescue.org| Views own",
			    "url": "https://twitter.com/ed_hawkins",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/ed_hawkins"
			  },
			  {
			    "name": "Astrid Caldas",
			    "username": "@climategeek",
			    "message": "Climate Scientist @UCSUSA. Thirsty for knowledge and a broader understanding of all things climate change. Opinions and snarkiness are my own.",
			    "url": "https://twitter.com/climategeek",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/climategeek"
			  },
			  {
			    "name": "Daniel Gebregiorgis",
			    "username": "@dgebregiorgis",
			    "message": "Interested in the evolution of Earth's climate: past-present-future",
			    "url": "https://twitter.com/dgebregiorgis",
			    "label": "",
			    "img": "https://avatars.io/twitter/dgebregiorgis"
			  },
			  {
			    "name": "Cara Augustenborg",
			    "username": "@CAugustenborg",
			    "message": "Environmental Scientist @UCDEnvPolicy Fellow; Chair @FoEEurope; Adviser @EPAIreland; #DownToEarth @IvanYatesNT @NewstalkFM @ClimateReality Leader",
			    "url": "https://twitter.com/CAugustenborg",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/CAugustenborg"
			  },
			  {
			    "name": "Prakash Kashwan",
			    "username": "@PKashwan",
			    "message": "Prof. @UConn | @SPEAIUB PhD | Book: Democracy in the Woods http://tinyurl.com/jy2gmtu| Climate Governance & Justice; Env. Policy & Politics; Int. Development |",
			    "url": "https://twitter.com/PKashwan",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/PKashwan"
			  },
			  {
			    "name": "Kim Cobb",
			    "username": "@coralsncaves",
			    "message": "40% Climate Scientist, 40% Mom, and 20% Indiana Jones. Unapologetically obsessed with carbon. Director, http://globalchange.gatech.edu . She/her",
			    "url": "https://twitter.com/coralsncaves",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/coralsncaves"
			  },
			  {
			    "name": "Mark Brandon",
			    "username": "@icey_mark",
			    "message": "Polar Oceanography Prof at the @OpenUniversity. Londoner. Proud to have worked with the BBC on #FrozenPlanet, #BluePlanet2 & others. Heart always in the ice",
			    "url": "https://twitter.com/icey_mark",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/icey_mark"
			  },
			  {
			    "name": "Dr. Jacquelyn Gill",
			    "username": "@JacquelynGill",
			    "message": "Ice Age ecologist in a warming world. Professor @Umaine. Co-host of @ourwarmregards. Like Dana Scully, with mud and mammoths.",
			    "url": "https://twitter.com/JacquelynGill",
			    "label": "",
			    "img": "https://avatars.io/twitter/JacquelynGill"
			  },
			  {
			    "name": "Antti Lipponen",
			    "username": "@anttilip",
			    "message": "Research scientist at Finnish Meteorological Institute #Satellite images, #aerosols, #climate, #remotesensing, #dataviz, etc. Opinions are my own.",
			    "url": "https://twitter.com/anttilip",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/anttilip"
			  },
			  {
			    "name": "Twila Moon",
			    "username": "@twilamoon",
			    "message": "Cryosphere, climate, #scicomm. Scientist at National Snow and Ice Data Center, University of Colorado. Co-Founder/Co-Director of Wheelhouse Institute",
			    "url": "https://twitter.com/twilamoon",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/twilamoon"
			  },
			  {
			    "name": "Gavin Schmidt",
			    "username": "@ClimateofGavin",
			    "message": "Climate scientist, occasional juggler, even more occasional author, curious about how the world works",
			    "url": "https://twitter.com/ClimateofGavin",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/ClimateofGavin"
			  },
			  {
			    "name": "Richard Betts",
			    "username": "@RichardABetts",
			    "message": "Climate Professor, University of Exeter, Met Office, IPCC. Leads main analysis for UK's 3rd Climate Change Risk Assessment https://www.exeter.ac.uk/gsi/ccra3/",
			    "url": "https://twitter.com/RichardABetts",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/RichardABetts"
			  },
			  {
			    "name": "Ken Caldeira",
			    "username": "@KenCaldeira",
			    "message": "A scientist researching issues related to climate, carbon, and energy. Carnegie Institution for Science (Global Ecology), Stanford, CA, USA [Personal account]",
			    "url": "https://twitter.com/KenCaldeira",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/KenCaldeira"
			  },
			  {
			    "name": "Valerie Masson-Delmotte",
			    "username": "@valmasdel",
			    "message": "French climate scientist at IPSL/LSCE, Paris Saclay; co-chair of IPCC WGI for the AR6. Tweets are my own. Also book lover and tennis player.",
			    "url": "https://twitter.com/valmasdel",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/valmasdel"
			  },
			  {
			    "name": "Glen Peters",
			    "username": "@Peters_Glen",
			    "message": "Research Director at @CICERO_klima on past, current, and future trends in energy consumption and greenhouse gas emissions",
			    "url": "https://twitter.com/Peters_Glen",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/Peters_Glen"
			  },
			  {
			    "name": "Stefan Rahmstorf",
			    "username": "@rahmstorf",
			    "message": "Head of Earth System Analysis at the Potsdam Institute for Climate Impact Research; professor of Physics of the Oceans at Potsdam University.",
			    "url": "https://twitter.com/rahmstorf",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/rahmstorf"
			  },
			  {
			    "name": "Sue Natali",
			    "username": "@ArcticPermafrst",
			    "message": "Scientist studying the changing Arctic and the effects on global climate.",
			    "url": "https://twitter.com/ArcticPermafrst",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/ArcticPermafrst"
			  },
			  {
			    "name": "Peter Gleick",
			    "username": "@PeterGleick",
			    "message": "Climate/water scientist; US National Academy of Science; MacArthur Fellow; 2018 Carl Sagan Prize for Science Popularization. Opinions are my own.",
			    "url": "https://twitter.com/PeterGleick",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/PeterGleick"
			  },
			  {
			    "name": "Simon Lewis",
			    "username": "@SimonLLewis",
			    "message": "They say I’m outspoken. Author, The Human Planet. Professor of Global Change Science @UCL & @UniversityLeeds. Trying to understand the world, and change it too.",
			    "url": "https://twitter.com/SimonLLewis",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/SimonLLewis"
			  },
			  {
			    "name": "Kevin Anchukaitis",
			    "username": "@thirstygecko",
			    "message": "Paleoclimatologist, dendrochronologist, earth systems geographer @UofA | @UA_SBS | @TreeRingLabUA. Drought, trees, coyotes, climate, food, & wine. Opinions mine",
			    "url": "https://twitter.com/thirstygecko",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/thirstygecko"
			  },
			  {
			    "name": "Kevin Anderson",
			    "username": "@KevinClimate",
			    "message": "Professor of energy and climate change - interested in translating the science of climate change into carbon budgets, policy goals and mitigation options.",
			    "url": "https://twitter.com/KevinClimate",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/KevinClimate"
			  },
			  {
			    "name": "Peter Kalmus",
			    "username": "@ClimateHuman",
			    "message": "Climate scientist shifting fossil fuel culture. Clouds, ecological forecasting. Book: Being the Change: Live Well & Spark a Climate Revolution 🌎🌹🌱 views=mine",
			    "url": "https://twitter.com/ClimateHuman",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/ClimateHuman"
			  },
			  {
			    "name": "Mandy Joye",
			    "username": "@SeepExplorer",
			    "message": "I am an oceanographer studying elemental cycling and climate change. Discovery and education are my passions. Explore, engage & inspire. Views here are my own.",
			    "url": "https://twitter.com/SeepExplorer",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/SeepExplorer"
			  },
			  {
			    "name": "Robert Way",
			    "username": "@LabradorIce",
			    "message": "Labradorian studying environmental change in northern Canada, Labradormiut (Inuit), assistant professor of physical geography at @queensu. Views are my own.",
			    "url": "https://twitter.com/LabradorIce",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/LabradorIce"
			  },
			  {
			    "name": "Robert Brulle",
			    "username": "@Rbrulle",
			    "message": "Professor, Sociology & Environmental Science, Drexel University, Philadelphia PA. Focus: Environmental Politics and Climate Change",
			    "url": "https://twitter.com/Rbrulle",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/Rbrulle"
			  },
			  {
			    "name": "David Roberts",
			    "username": "@drvox",
			    "message": "Seattleite transplanted from Tennessee; now blogging for http://Vox.com  about energy politics. Climate hawk, deficit dove. Not a doctor.",
			    "url": "https://twitter.com/drvox",
			    "label": "journalist",
			    "img": "https://avatars.io/twitter/drvox"
			  },
			  {
			    "name": "Chris Mooney",
			    "username": "@chriscmooney",
			    "message": "Energy and environment writer at @washingtonpost, also tweeting at @postgreen. Views are my own.",
			    "url": "https://twitter.com/chriscmooney",
			    "label": "journalist",
			    "img": "https://avatars.io/twitter/chriscmooney"
			  },
			  {
			    "name": "Sammy Roth",
			    "username": "@Sammy_Roth",
			    "message": "Energy reporter @latimes. Proud alum of @MyDesert @USATODAY @ColumbiaSpec. Dodgers fan, hiker, co-host @TheHatchPodcast. Just trying to be good to people.",
			    "url": "https://twitter.com/Sammy_Roth",
			    "label": "journalist",
			    "img": "https://avatars.io/twitter/Sammy_Roth"
			  },
			  {
			    "name": "Dana Nuccitelli",
			    "username": "@dana1981",
			    "message": "Environmental scientist by day. Freelance climate writer for Yale Climate Connections and others by night. Author of Climatology versus Pseudoscience.",
			    "url": "https://twitter.com/dana1981",
			    "label": "journalist",
			    "img": "https://avatars.io/twitter/dana1981"
			  },
			  {
			    "name": "Dr. Genevieve Guenther",
			    "username": "@DoctorVive",
			    "message": "Author. Founder & Director (link: http://EndClimateSilence.org) EndClimateSilence.org. Affiliate Faculty @NewSchoolTEDC. PhD in Renaissance lit. Next book: Keywords for a New Climate.",
			    "url": "https://twitter.com/DoctorVive",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/DoctorVive"
			  },
			  {
			    "name": "Kyle Kornack",
			    "username": "@krKornack",
			    "message": "Working on grassroots acceleration of climate change solutions | ED of @greengas_org | @Forbes30 Under 30 | Echoing Green Fellow | musician | curious human",
			    "url": "https://twitter.com/krKornack",
			    "label": "journalist",
			    "img": "https://avatars.io/twitter/krKornack"
			  },
			  {
			    "name": "Andrew Almack",
			    "username": "@andrewalmack",
			    "message": "Creating abundance, fueling innovation, & loving this big goofy world. Founder @plastics4change ♻️ Changing lives through recycling. #Forbes30under30",
			    "url": "https://twitter.com/andrewalmack",
			    "label": "business",
			    "img": "https://avatars.io/twitter/andrewalmack"
			  },
			  {
			    "name": "Greta Thunberg",
			    "username": "@GretaThunberg",
			    "message": "16 year old climate activist with Asperger",
			    "url": "https://twitter.com/GretaThunberg",
			    "label": "activist",
			    "img": "https://avatars.io/twitter/GretaThunberg"
			  },
			  {
			    "name": "Luisa Neubauer",
			    "username": "@Luisamneubauer",
			    "message": "Climate Activist #fridaysforfuture | Youth ambassador for the @onecampaign I European I contact.luisa.neubauer[at](link: http://gmail.com) gmail.com",
			    "url": "https://twitter.com/Luisamneubauer",
			    "label": "activist",
			    "img": "https://avatars.io/twitter/Luisamneubauer"
			  },
			  {
			    "name": "Dr. Brett Favaro",
			    "username": "@LetsFishSmarter",
			    "message": "Ph.D in biology: instructor, scientist. Author: The Carbon Code: How You Can Become a Climate Change Hero. Tweets abt fisheries, climate, and democracy",
			    "url": "https://twitter.com/LetsFishSmarter",
			    "label": "scientist",
			    "img": "https://avatars.io/twitter/LetsFishSmarter"
			  },
			  {
			    "name": "Tobin Bell",
			    "username": "@officialtobin",
			    "message": "Actor, writer, producer with a Masters Degree in Environmental Studies imdb.me/tobinbell | vimeo.com/tobinbell | instagram.com/tobinbellofficial",
			    "url": "https://twitter.com/officialtobin",
			    "label": "actor",
			    "img": "https://avatars.io/twitter/officialtobin"
			  },
			  {
			    "name": "Alexander Verbeek",
			    "username": "@Alex_Verbeek",
			    "message": "Public Speaker | Moderator | Diplomat | Photographer | Yale World Fellow | Climate Change | Wildlife | Environment | Art | Energy-Water-Food | Sustainability 🌱",
			    "url": "https://twitter.com/Alex_Verbeek",
			    "label": "activist",
			    "img": "https://avatars.io/twitter/Alex_Verbeek"
			  },
			  {
			    "name": "Jackson Harries",
			    "username": "@JackHarries",
			    "message": "Filmmaker, Photographer, Environmentalist.",
			    "url": "https://twitter.com/JackHarries",
			    "label": "",
			    "img": "https://avatars.io/twitter/JackHarries"
			  },
			  {
			    "name": "Christiana Figueres",
			    "username": "@CFigueres",
			    "message": "Bending the emissions curve by 2020. Net zero by 2050. Necessary, desirable and achievable. #GlobalOptimism",
			    "url": "https://twitter.com/CFigueres",
			    "label": "activist",
			    "img": "https://avatars.io/twitter/CFigueres"
			  },
			  {
			    "name": "Joss Garman",
			    "username": "@jossgarman",
			    "message": "UK director @ European Climate Foundation 🌍 @EYL40. Tweets personal.",
			    "url": "https://twitter.com/jossgarman",
			    "label": "activist",
			    "img": "https://avatars.io/twitter/jossgarman"
			  },
			  {
			    "name": "Rupert Read",
			    "username": "@GreenRupertRead",
			    "message": "Philosopher at UEA. Former @TheGreenParty spokesperson, MP candidate, & Councillor. Running for European parliament in East of England. Also on FB & Instagram!",
			    "url": "https://twitter.com/GreenRupertRead",
			    "label": "activist",
			    "img": "https://avatars.io/twitter/GreenRupertRead"
			  },
			  {
			    "name": "Al Gore",
			    "username": "@algore",
			    "message": "",
			    "url": "https://twitter.com/algore",
			    "label": "politician",
			    "img": "https://avatars.io/twitter/algore"
			  },
			  {
			    "name": "Richard Dawkins",
			    "username": "@RichardDawkins",
			    "message": "UK biologist & writer. Science, the poetry of reality. Good-humoured ridicule of religions. RTs don't imply endorsement, nor exhaustive research of tweeter's CV",
			    "url": "https://twitter.com/RichardDawkins",
			    "label": "writer",
			    "img": "https://avatars.io/twitter/RichardDawkins"
			  }
			];

	      	this.impactMakers = [
				{
				    "name": "J.P.Aulet",
				    "username": "@jp_aulet",
				    "message": "FullStack Web Developer 🤖 - Digital nomad & maker 🌏🚀 - Building apps for social good, learning #blockchain & proud co-founder of @impactMakers_ community 💚",
				    "url": "https://twitter.com/jp_aulet",
				    "label": "community",
				    "img": "https://avatars.io/twitter/jp_aulet"
				},
				{
				    "name": "Steven Hylands",
				    "username": "@shylands",
				    "message": "Entrepreneur & designer from N.Ireland helping prevent climate breakdown with @impactmakers_. Making @climatechoice. Co-founder & CCO at @get_yomo.",
				    "url": "https://twitter.com/shylands",
				    "label": "community",
				    "img": "https://avatars.io/twitter/shylands"
				},
				{
				    "name": "Rachel Franklin",
				    "username": "@tobequitefrank1",
				    "message": "Tech & Dogs 🐶 Web Developer at @marvelapp",
				    "url": "https://twitter.com/tobequitefrank1",
				    "label": "community",
				    "img": "https://avatars.io/twitter/tobequitefrank1"
				},
				{
				    "name": "Sam Larsen",
				    "username": "@samlarsen1",
				    "message": "GI Architect & Director @ (link: http://mapsourced.com) mapsourced.com #Location, #Tech, #Mapping, #Cleantech, #Renewables, #Vegan, #AgTech, #rewilding 🌍🌱🛰️",
				    "url": "https://twitter.com/samlarsen1",
				    "label": "community",
				    "img": "https://avatars.io/twitter/samlarsen1"
				},
				{
				    "name": "Baz",
				    "username": "@BasileSamel",
				    "message": "I code @200wordsaday and I write short posts about #writing #tech #entrepreneurship #nomadism and #makers every day",
				    "url": "https://twitter.com/BasileSamel",
				    "label": "community",
				    "img": "https://avatars.io/twitter/BasileSamel"
				},
				{
				    "name": "Andreas Lorenz",
				    "username": "@shylands",
				    "message": "Full stack developer, freelancer, my passion is skiing, currently based austria",
				    "url": "https://twitter.com/b_angpow",
				    "label": "community",
				    "img": "https://avatars.io/twitter/b_angpow"
				},
				{
				    "name": "Matt Budde",
				    "username": "@thisismbd",
				    "message": "Proud Father, QA Engineer & Web Developer, Gamer, Maker of Pomotron, most definitely a nerd.",
				    "url": "https://twitter.com/thisismbd",
				    "label": "community",
				    "img": "https://avatars.io/twitter/thisismbd"
				},
				{
				    "name": "Alex Price",
				    "username": "@remotealex",
				    "message": "Javascript nerd and proud vegan 🌱 Building RemoteOne, the ultimate tool for freelancers and trying to save the world with (link: https://offset.earth) offset.earth 🌍.",
				    "url": "https://twitter.com/remotealex",
				    "label": "community",
				    "img": "https://avatars.io/twitter/remotealex"
				},
				{
				    "name": "David Brown",
				    "username": "@davidbr0wn",
				    "message": "Applying technolgy for good because we don't need another cat meme or a picture of your meal. 99 problems. #artificialintelligence #sustainability #climate",
				    "url": "https://twitter.com/davidbr0wn",
				    "label": "community",
				    "img": "https://avatars.io/twitter/davidbr0wn"
				},
				{
				    "name": "Glenn Davidson",
				    "username": "@glenndavidson",
				    "message": "Archive-dev-lead, event-coordinator, tea-drinker, and game-advocate. @BBCNIreland/@BBCArchive, @FarsetLabs, and @nigamedev. All views my own",
				    "url": "https://twitter.com/glenndavidson",
				    "label": "community",
				    "img": "https://avatars.io/twitter/glenndavidson"
				},
				{
				    "name": "Paul McCormack",
				    "username": "@ElevenThirty",
				    "message": "Course Director for BDes Hons Interaction Design at Belfast School of Art. Teaching the next generation of IxD, UI and UX designers. #ixdbelfast",
				    "url": "https://twitter.com/ElevenThirty",
				    "label": "community",
				    "img": "https://avatars.io/twitter/ElevenThirty"
				},
				{
				    "name": "Kyle Gawley",
				    "username": "@kylegawley",
				    "message": "Entrepreneur & indie maker. Founder @getinvited & (link: http://usegravity.app) usegravity.app Author of The Lifestyle Startup. Location-independent.",
				    "url": "https://twitter.com/kylegawley",
				    "label": "community",
				    "img": "https://avatars.io/twitter/kylegawley"
				},
				{
				    "name": "Roel van der Kraan",
				    "username": "@roelvanderkraan",
				    "message": "⛵️🛥️🏂🏻🏔️🏻‍♂️🐈👬🔥 Now building @get_hippo, previously PM/UX/dev",
				    "url": "https://twitter.com/roelvanderkraan",
				    "label": "community",
				    "img": "https://avatars.io/twitter/roelvanderkraan"
				},
				{
				    "name": "Thibaut Herpain",
				    "username": "@ThibautHerpain",
				    "message": "🇧🇪Belgian 💻Frontend developer",
				    "url": "https://twitter.com/ThibautHerpain",
				    "label": "community",
				    "img": "https://avatars.io/twitter/ThibautHerpain"
				},
				/*
				{
				    "name": "Phil",
				    "username": "@overture8",
				    "message": "Ruby & Elixir programmer. Liverpool fan.",
				    "url": "https://twitter.com/overture8",
				    "label": "community",
				    "img": "https://avatars.io/twitter/overture8"
				},
				*/
				{
				    "name": "Steven McComb",
				    "username": "@mccombsteven",
				    "message": "Proud geek, sports addict and cat owner.",
				    "url": "https://twitter.com/mccombsteven",
				    "label": "community",
				    "img": "https://avatars.io/twitter/mccombsteven"
				},
				{
				    "name": "Craig Anderson",
				    "username": "@_craiga",
				    "message": "Freelance web developer 👨🏻‍💻 specialising in Python 🐍 and Django. 🇦🇺 in 🇬🇧🇪🇺. #FriendOfDeSoto 🖖 #AFGANG 👌 #MightyWest he/him",
				    "url": "https://twitter.com/_craiga",
				    "label": "community",
				    "img": "https://avatars.io/twitter/_craiga"
				}
		  	];
	      
	      	this.users = this.shuffle(this.users);
	      	this.impactMakers = this.shuffle(this.impactMakers);
	    },
	    cleanSearch: function(ev){
	      this.search = '';
	    },
	    selectTag: function(event){
	      var idx = this.selectedTags.indexOf(event);
	      if (idx >= 0) {
	        this.selectedTags.splice(idx, 1);
	      } else {
	        this.selectedTags.push(event);
	      }
	    },
	    shuffle: function(array) {
	      var currentIndex = array.length, temporaryValue, randomIndex;

	      // While there remain elements to shuffle...
	      while (0 !== currentIndex) {

	        // Pick a remaining element...
	        randomIndex = Math.floor(Math.random() * currentIndex);
	        currentIndex -= 1;

	        // And swap it with the current element.
	        temporaryValue = array[currentIndex];
	        array[currentIndex] = array[randomIndex];
	        array[randomIndex] = temporaryValue;
	      }

	      return array;
	    },
	    isSelected: function(tag){
	    	return {
      			labelActive: this.selectedTags.includes(tag)
      		}
	    }
	  },
	  created() {
	    this.getUsers();
	    this.loading = false;
	  },
	  computed: {
	    filteredItems() {
	      return this.users.filter(user => {        
	         return ((user.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1) || 
	         (user.message.toLowerCase().indexOf(this.search.toLowerCase()) > -1)) &&
	         (this.selectedTags.length == 0 || user.label.trim().toLowerCase().split(',').some(v => { return this.selectedTags.indexOf(v) >= 0; }) )
	      });
	    },
	    filterTags() {
	      let tags = this.users.map(user => {
	        return user.label.trim().toLowerCase().split(',');
	      });
	      tags = [].concat(...tags);
	      tags = tags.sort();
	      return tags.filter((v, i, a) => v !== '' && a.indexOf(v) === i);
	    }
	  }
	});
</script>
</html>