<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- CSRF Token -->
<link rel="icon" type="image/x-icon" href="favicon.ico">

<title>Top Climate Heroes</title>
<meta name="title" content="Top Climate Heroes - Climate Twitter accounts worth following">
<meta name="description" content=" All-in-one subscriptions workplace - Track & organize all your recurring payments. Subscriptione: All your subscriptions on steroids — in one tool!">
<meta name="keywords" content="subscription,recurring payments,subscriptions,tools,saas">
<meta name="Distribution" content="global"/>
<meta name="Robots" content="all"/>

 <!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@jp_aulet">
<meta name="twitter:title" content="Top Climate Heroes - Climate Twitter accounts worth following">
<meta name="twitter:description" content="A curated list of Twitter accounts worth following, writing about the Climate change Emergency, scientist evidence, actions and lot more.">
<meta name="twitter:creator" content="@jp_aulet">
<meta name="twitter:image:src" content="">

<!-- Open Graph data -->
<meta property="og:title" content="Top Climate Heroes - Climate Twitter accounts worth following" />
<meta property="og:type" content="product" />
<meta property="og:url" content="https://subscriptione.com" />
<meta property="og:image" content="" />
<meta property="og:description" content="A curated list of Twitter accounts worth following, writing about the Climate change Emergency, scientist evidence, actions and lot more." />
<meta name="theme-color" content="#1f620b"/>
<link rel="stylesheet" href='styles.css' />
<body>
	<div id='app'>

		<h1 class='title-header'>
			<img src='logo.png' alt='Top climate heroes logo'>
			Top Climate Heroes
		</h1>

		<div class='subtitle-header'>
			A curated list of <strong>Twitter accounts worth following</strong>, writing about the Climate <strike>change</strike> Emergency, scientist evidence, actions and lot more.
		</div>

		<div class='header-img'></div>

		<div class='filterList'>
	        <div class='filterTags'> 
	          <label class='user-label' v-for='(tag,index) in tags' :key="`tag-${index}`"  v-bind:class="isSelected(tag)" @click='selectTag(tag)'>
				{{tag}}
	          </label>
	        </div> 
	        
	        <div class='searchBox col-xs-8 col-sm-5 col-sm-offset-2 col-lg-offset-5'>
	          <input class='searchInput searchUsers' type="text" placeholder="Search.." v-model="search" />
	        </div>	        
	    </div>

		<div class='twitter-deck'>
			<div v-for='(user, index) in filteredItems' :key="`user-${index}`" class="twitter-card">  
			    <img class="tweet-img" v-bind:src="user.img">			    
			  
			    <div class="tweet-meta">
			      <p class="tweet-name">{{user.name}}</p>
			      <p class="tweet-username">{{user.username}}</p>
			    </div>  
			  
			  	<p class="tweet-message">{{user.message}}</p>
			  	<p class="tweet-follow">
					<a :href="'https://twitter.com/'+user.username+'?ref_src=twsrc%5Etfw'" class="twitter-follow-button" data-show-count="false"></a>
			  	</p>			  	  
			</div>
		</div>

		<div class='horitzontal-container'>
			Missing somebody? Tell us and we will add them on the list! <br />

			<a href=''>
				<button class="btnMore"> Add <i>Heroes</i> to the list</button>
			</a>
		</div>

		<div class='impactMakers-container'>
			<h2 class='dark-green'> ImpactMakers Community </h2>
			<p> Follow us on Twitter too! Here a list of tech people who want to have a positive impact by helping prevent earth’s climate breaking down.</p>

			<div class='twitter-deck'>
				<div v-for='(impactmaker, index) in impactMakers' :key="`impactMakers-${index}`" class="twitter-card">  
				    <img class="tweet-img" v-bind:src="impactmaker.img">			    
				  
				    <div class="tweet-meta">
				      <p class="tweet-name">{{impactmaker.name}}</p>
				      <p class="tweet-username">{{impactmaker.username}}</p>
				    </div>  
				  
				  	<p class="tweet-message">{{impactmaker.message}}</p>
				  	<p class="tweet-follow">
						<a :href="'https://twitter.com/'+impactmaker.username+'?ref_src=twsrc%5Etfw'" class="twitter-follow-button" data-show-count="false"></a>
				  	</p>			  	  
				</div>
			</div>
		</div>
	</div>	

	<div id='footer'>
		<div class='footer-header'>
			<h1 class='footer-title'>
				<img src='logo_white.png'>
				Twitter Climate Heroes
			</h1>
			<p class='footer-subtitle'> People worth following </p>
		</div>

		<div class='footer-container'>
			An <strong>Impact Makers</strong> project from:
			
			<div class="twitter-card twitter-impactMakers">  
			    <img class="tweet-img" src="https://pbs.twimg.com/profile_images/1055439106141028352/mwoOAzKd_bigger.jpg">			    
			  
			    <div class="tweet-meta">
			      <p class="tweet-name">J.P. Aulet</p>
			      <p class="tweet-username"><a href='https://twitter.com/jp_aulet' target='_blank' class='white-link'>@jp_aulet</a></p>
			    </div>	  	  
			</div>			    

			<a href='http://techimpactmakers.com' class='white-link'>Impact Makers</a> is a community of tech people who want to have a positive impact by helping prevent earth’s climate breaking down.

			<a href="http://techimpactmakers.com" target="_blank">
			  <button class="btnMore" style='width:100%;'> Find out more about us </button>
			</a>
		</div>
	</div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="module">
	//import users from './users.json'
	//import impactMakers from './impactMakers.json'
	var app = new Vue({
	  el: '#app',
	  data() {
	    return {
	      users: null,
	      search: '',
	      tags: ['writer','scientist','actor','journalist','ngo','activist','business','politician'],
	      selectedTags: [],
	      impactMakers: null
	    };
	  },
	  methods: {
	    getUsers() {
	      this.users = [];
	      this.impactMakers = [];
	      this.users = this.shuffle(this.users);
	      this.impactMakers = this.shuffle(this.impactMakers);
	    },
	    cleanSearch: function(ev){
	      this.search = '';
	    },
	    selectTag: function(event){
	    	console.log(event);
	      var idx = this.selectedTags.indexOf(event);
	      if (idx >= 0) {
	        this.selectedTags.splice(idx, 1);
	      } else {
	        this.selectedTags.push(event);
	      }
	    },
	    shuffle: function(array) {
	      var currentIndex = array.length, temporaryValue, randomIndex;

	      // While there remain elements to shuffle...
	      while (0 !== currentIndex) {

	        // Pick a remaining element...
	        randomIndex = Math.floor(Math.random() * currentIndex);
	        currentIndex -= 1;

	        // And swap it with the current element.
	        temporaryValue = array[currentIndex];
	        array[currentIndex] = array[randomIndex];
	        array[randomIndex] = temporaryValue;
	      }

	      return array;
	    },
	    isSelected: function(tag){
	    	return {
      			labelActive: this.selectedTags.includes(tag)
      		}
	    }
	  },
	  created() {
	    this.getUsers();
	  },
	  computed: {
	    filteredItems() {
	      return this.users.filter(user => {        
	         return ((user.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1) || 
	         (user.message.toLowerCase().indexOf(this.search.toLowerCase()) > -1)) &&
	         (this.selectedTags.length == 0 || user.label.trim().toLowerCase().split(',').some(v => { return this.selectedTags.indexOf(v) >= 0; }) )
	      });
	    },
	    filterTags() {
	      let tags = this.users.map(user => {
	        return user.label.trim().toLowerCase().split(',');
	      });
	      tags = [].concat(...tags);
	      tags = tags.sort();
	      return tags.filter((v, i, a) => v !== '' && a.indexOf(v) === i);
	    }
	  }
	});
</script>
</html>